@import '../../assets/css/partials/variables';
@import '../../assets/css/partials/grid';

.process-option:not(:last-child) {
  margin-right: 8px;
}

.shell-output {
  height: 100%;
  overflow: auto;
  background: #1b1b1b;
  color: $accent-500;
  padding: 8px 8px;

  & pre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    margin: 0;
  }
}

.mdc-card .mdc-button {
  --mdc-theme-primary: $accent-500;
}

.mdc-button.restart-button {
  background-color: $primary-900;
  --mdc-theme-text-primary-on-primary: $accent-500;
} 

.newScript-card {
  margin-bottom: 16px;
}
.newScript-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.newScript-inputContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.newScript-ctaContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0 16px;
}
:global(.mdc-button).newScript-cta {
  background-color: $primary-700;
  --mdc-theme-text-primary-on-primary: $accent-500;

  display: flex;
  align-items: center;
  padding: 0 8px;

  svg {
    fill: $accent-500;
    margin-right: 4px;
  }
}
:global(.mdc-text-field).newScript-name, :global(.mdc-text-field).newScript-detail {
  margin: 4px 0 0 0 !important;

  --mdc-theme-text-primary-on-light: $accent-700;
  --mdc-theme-primary: $accent-700;

  :global(.mdc-text-field__label) {
    color: $accent-700;
  }

  :global(.mdc-text-field__input) {
    border-bottom: 1px solid $primary-700;
  }
}