@import '../../assets/css/partials/theme';
@import '../../assets/css/partials/grid';

.list-container {
  margin: 8px 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: auto;
  width: 100%;
  padding: 0 8px 0 0;
}

.list-item--icon {
  padding: 0 16px 0 72px;
}

.list-action {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
}

.list-text {
  padding: 8px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: none;
  text-align: left;
}

.list-text--title {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.list-text--detail {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-item--rightActions {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > * {
    margin-right: 8px;
  }
  & > *:last-child {
    margin-right: 0;
  }
}

.shell-select.mdc-select {
  flex: 1;
  margin-right: 16px;
  --mdc-theme-text-primary-on-light: $accent;
  
  .mdc-select__surface {
    background: none;
  }

  .mdc-select__label {
    color: $accent;
  }
  .mdc-select__bottom-line {
    background-color: $primary-1;
    --mdc-theme-primary: $primary-1;
  }
  .mdc-list-item {
    --mdc-theme-text-primary-on-light: $primary-3;
  }
}

.shell-output {
  height: 100%;
  overflow: auto;
  background: #212121;
  color: $accent;
  padding: 8px 8px;

  & pre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    margin: 0;
  }
}

.mdc-card .mdc-button {
  --mdc-theme-primary: $accent;
}

.mdc-button.restart-button {
  background-color: $primary-3;
  --mdc-theme-text-primary-on-primary: $accent;
}