@import '../assets/css/partials/variables';

.appContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 64px 1fr;
  grid-template-areas: 
    "header"
    "main";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.routeContainer {
  grid-area: main;
  overflow: hidden;
  background: $primary-2;
}