@import '../../assets/css/partials/variables';

:global(.mdc-select).process-select {
  flex: 1;
  margin: 0 8px;
  width: 100%;

  --mdc-theme-text-primary-on-light: $accent-500
  
  :global(.mdc-select__surface) {
    background: none;
  }

  :global(.mdc-select__label) {
    color: $accent-500
  }
  :global(.mdc-select__bottom-line) {
    background-color: $primary-500;
    --mdc-theme-primary: $primary-500;
  }
  :global(.mdc-list-item) {
    --mdc-theme-text-primary-on-light: $primary-900;
  }
}