@import './partials/theme';

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

body {
  overflow: auto;
  font-family: Roboto, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-user-select: none;
  user-select: none;
}

input, button, textarea, :focus {
  outline: none;
}

pre * {
  user-select: text;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.mdc-card {
  height: 100%;
  background: $primary-3;
}