@import './partials/variables';


.mdc-card .mdc-button {
    --mdc-theme-primary: $accent;
}
    
.mdc-button.restart-button {
    background-color: $primary-3;
    --mdc-theme-text-primary-on-primary: $accent;
}


.mdc-toolbar {
    background: none;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    grid-area: header;
    -webkit-app-region: drag;
}

.mdc-tab-bar {
    margin: 0;
    height: 64px;
    background-color: $primary-1;
    border-radius: 5px 5px 0 0;

    --mdc-theme-text-primary-on-primary: $accent;
}

.mdc-tab a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mdc-card {
    height: 100%;
    background: $primary-3;
}

.mdc-card__title {
    --mdc-theme-text-primary-on-light: $accent;
}