@import '../../../assets/css/partials/variables';

:global(.mdc-button).icon-button {
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;

  background-color: $primary-900;
  --mdc-theme-text-primary-on-primary: $accent-500;

  > svg {
    fill: $accent-500;
  }
}